@model LibraryBL.BLBook

@{
    ViewBag.Title = "AddSingleAuthorForBook";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>AddSingleAuthorForBook</h2>
<table>
    @using (Html.BeginForm("AddAuthorForBook", "Home", Model))
    {
        int cur = Model.Authors.Count - 1;
        <tr>
            <td>
                FullName
            </td>
            <td>
                Year
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBoxFor(m => m.Authors[cur].Fullname)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Authors[cur].Year)
            </td>
        </tr>
        <tr>
            <td colspan="2"><input id="SubmitAuthor" type="submit" value="Add Author" /></td>
        </tr>
    }
</table>