@{
    ViewBag.Title = "Add/Remove Books";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Добавить/Удалить Книги</h2>
@Html.ActionLink("Добавить", "AddBook", "Home") 
<br />
@Html.ActionLink("Удалить", "RemoveBook", "Home") 
 