@model bool
@{
    ViewBag.Title = "Добавление Читателя";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Добавления читателя</h2>
@if (Model)
{
    <span>Добавление Читателя в базу данных произошло успешно!</span>
}
else
{
    <span>Добавление Читателя в базу данных произошло неудачно</span>
}