@model bool
@{
    ViewBag.Title = "RemoveReader";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Удаление Читателя </h2>
@if (!Model)
{
    <div>У читателя в данный момент находится книга на руках - заберите у него книгу и повторите операцию</div>
}
else
{
    <div>Операция успешно завершилась</div>
}
