@model bool
@{
    ViewBag.Title = "SubmitBook";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>SubmitBook</h2>
@{if (Model)
  {
    <span>Книга успешно добавлена в базу данных</span>
  }
  else
  {
    <span>Книга не добавлена в базу данных</span>
  }
}